* {
    margin: 0px;
}

.controllers-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .controllers-section {
        gap: 2vw;
        padding: 10px;
        flex-direction: column;
    }
}